<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Learn and Understand AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
        </style>

        <!-- load angular via CDN -->
        <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div ng-controller="mainController">

                <h1>{{ myVar }}</h1>

								<div>
									<label for="form-input">input text</label>
									<input type="text" name="form-input" id="form-input" ng-Model="input" />
								</div>
								<p>my input in lowercase -> {{ lowercaseInput() }}</p>

								<div ng-hide="myList.length < 1">Array {{ myList.length}}</div>

								<div class="alert" ng-if="input.length !== charNum">
									Input in not 5 char long
								</div>

								<div class="alert" ng-class="{ 'alert-warning': input.length < charNum, 'alert-danger': input.length > charNum }" ng-show="input.length !== charNum">
									<div ng-show="input.length < charNum">Less than 5 chars</div>
									<div ng-show="input.length > charNum">more than 5 chars</div>
								</div>


								<h3>Rules list</h3>
								<ul>
									<li ng-repeat="rule in rules">
										{{ rule.ruleName }}
									</li>
								</ul>
            </div>

		</div>

    </body>
</html>